html {
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    height: 100vh;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app h1 {
    font-size: 40px;
    color: white;
    text-align: center;
}

.app nav {
    display: flex;
    justify-content: space-around;
}

.app nav a {
    color: rgb(0, 174, 255);
    text-decoration: none;
}

.app p {
    color: rgb(180, 180, 180);
}
